@use '../utils/colors' as c;

.forum {
    
}

.forum-overview {
    
    background-color: c.$tertiary;
    display: grid;
    grid-auto-columns: 3fr 1fr 1fr;
    
    .row-head {
        background-color: darkred;
    }

    .topic {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .topics {
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .last-entry {
        grid-column-start: 3;
        grid-column-end: 3;
    }
    
    .row {
        background-color: c.$secondary;
    }

}