@use '../utils/colors' as c;

.searchbar {
    display: inline-block;

     form {
        input {
            max-width: 66%;
            border: 2px solid darkred;
        }
    
        button {
            margin-left: .5rem;
            border: 2px solid darkred;
            fill: none;
            color: c.$primary;
            padding: 1px 6px 1px 6px;

            &:active {
                transform: scale(.98);
            }
        }
    }
}