$primary: rgba(174, 174, 174, 1);
$secondary: #171717;
$tertiary: rgb(0, 0, 0);

$warning: rgb(255, 186, 36);
$error: crimson;

$lighter-blue: #3B82F6;
$lighter-red: #EF4444;
$lighter-green: #10B981;

.lighter-blue-text{
    color: $lighter-blue;
} 
.lighter-red-text{
    color: $lighter-red;
}
.lighter-green-text{
    color: $lighter-green;
}