.main-grid {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-auto-columns: min-content max-content auto;

    .main-content {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;        
    }
    .sidebar {
        grid-column-start: 1;
        grid-column-end: 2;
        
    }

    .header {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}