@use '../utils/colors' as c;

.sidebar {
    height: 100%;
    background-color: c.$secondary;
    padding-top: 1rem;
    font-weight: bold;
    max-width: min-content;
    
    aside {
        border-top: 2px solid darkred;
        padding: 1rem 0 0 1rem;
        height: 100%;
        width: 100%;
        position: relative;

        .sidebar-footer {
            position: absolute;
            bottom: 1rem;
            width: 100%;
            margin-left: -1rem;
            padding-left: 1rem;
        }
    }

    ul {
        list-style-type: none;   
        margin: 0;
        padding: 0;
        width: 100%;
    }

    a {
        display: block;
        &:hover {
            background-color: darkred;
            padding-left: 1rem;
            margin-left: -1rem;
        }
    }

    li {
        a {
            padding: 0 1rem 0 1rem;
            display: block;
            &:hover {
                background-color: darkred;
                padding-left: 2rem;
                margin-left: -1rem;
            }
        }
    }

    
}