@use '../utils/colors' as c;

:root {
    background-color: c.$tertiary;
    color: c.$primary;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: c.$primary;
    font-weight: bold;

    &:hover, :link {
        background-color: c.$secondary;
    }
    &:hover {
        background-color: darkred;
    }
}

input {
    background-color: c.$secondary;
    color: c.$primary;
}

button {
    margin-left: 1rem;
    border: 2px solid darkred;
    fill: none;
    color: c.$primary;
    background-color: c.$secondary;
    font-weight: normal;
}